src/Ejemplos/Clase_02/DAM-M6-UF1-Cla02_acceso_XPath/src/LibrosEsquema.xsd

<?xml version="1.0"?>

<xsd:schema version="1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
<xsd:element name="Libros">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded">
<xsd:element name="Libro" minOccurs="0" maxOccurs="unbounded">
 
<xsd:complexType>
   

        
<xsd:sequence>
     
<xsd:element name="Titulo" type="xsd:string" />
<xsd:element name="Autor" type="xsd:string" />

</xsd:sequence>
<xsd:attribute name="publicado_en" type="xsd:string"/>
   
</xsd:complexType>
 
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>


</xsd:schema>
